apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: digital-library
spec:
  selector:
    app: backend
  ports:
    - name: http
      port: 3001
      targetPort: 3001
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backend-uploads
  namespace: digital-library
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 2Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: digital-library
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      initContainers:
        - name: wait-for-mongo
          image: busybox:1.36
          command: ['sh', '-c', 'until nc -z mongo 27017; do echo "waiting for MongoDB..."; sleep 2; done; echo "MongoDB is up"']
      containers:
        - name: backend
          image: sadafjamal3/digital-library-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3001
              name: http
          env:
            - name: NODE_ENV
              value: "production"
            - name: PORT
              value: "3001"
            - name: MONGODB_URI
              value: "mongodb://mongo:27017/digital-library"
            - name: CORS_ORIGIN
              value: "http://digital-library.local"
            - name: SKIP_SEED
              value: "true"
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: JWT_SECRET
          volumeMounts:
            - name: uploads
              mountPath: /app/uploads
      volumes:
        - name: uploads
          persistentVolumeClaim:
            claimName: backend-uploads
